/* #132226
#5E747A
#93E6CA
#E9D0CF
#B3607B */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 3000px;
  margin: 0px;
  padding: 0px;

  color: white;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.home {
  background-color: #5e747a;
  height: calc(100vh - 5px);
}

.elementos-home-card-esquerda.fechado {
  left: -408px;
}
.elementos-home-card-esquerda.aberto {
  left: -2px;
}
.elementos-home-card-esquerda {
  box-shadow: 9px 6px 20px -6px rgba(0, 0, 0, 0.68);
  position: fixed;
  top: calc(50vh - 50%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #132226;
  width: 450px;
  height: calc(80vh - 5px);
  border: #5e747a 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elementos-home-card-esquerda:hover {
  box-shadow: 9px 16px 25px 1px rgba(0, 0, 0, 0.68);
}

.foto-gustavo {
  margin-top: 25px;
  margin-bottom: -80px;
  width: 45%;
  height: 45%;
}
.foto-gustavo img {
  width: 100%;
  border: 7px solid #5e747a;
}

.resumo-sobre {
  margin-top: 48px;
  width: 74%;
  text-align: justify;
}

.experiencia {
  height: calc(100vh - 5px);
  background-color: black !important;
}

.icon-menu svg {
  width: 32px;
  height: 32px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(215deg) brightness(108%) contrast(97%);
  cursor: pointer;
  padding: 10px;
}
.icon-menu div:hover svg {
  filter: invert(0%) sepia(6%) saturate(7470%) hue-rotate(187deg) brightness(98%) contrast(100%);
  background-color: white;
  width: calc(35% + 10px);
  border-radius: 15px;
}

.menu-barra-lateral {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
}

.menu-barra-lateral.container-fechado {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: absolute;
  right: -3px;
  top: 155px;
}

.botao-abrir-fechar {
  position: absolute;
  left: 410px;
  bottom: 9px;
}

.botao-abrir-fechar.fechar {
  transform: rotateY(180deg);
}

.botao-abrir-fechar.abrir {
  transform: rotateY(0deg);
}

.botao-abrir-fechar svg {
  width: 32px;
  height: 32px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(215deg) brightness(108%) contrast(97%);
  cursor: pointer;
}
