/* #132226
#5E747A
#93E6CA
#E9D0CF
#B3607B */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 3000px;
  margin: 0px;
  padding: 0px;

  color: white;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.home {
  background-color: #5e747a;
  height: calc(100vh - 5px);
}
.elementos-home-card-esquerda {
  position: fixed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #132226;
  width: 450px;
  height: calc(100vh - 5px);
  border: #5e747a 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .foto-gustavo {
  margin-top: 25px;
  margin-bottom: -130px;
  width: 45%;
  height: 45%;
}
.home .foto-gustavo img {
  width: 100%;
  border: 7px solid #5e747a;
}

.resumo-sobre {
  margin-top: 25px;
  width: 95%;
  text-align: justify;
}

.experiencia {
  height: calc(100vh - 5px);
  background-color: black !important;
}
